#this config file will be loaded before every model version is executed, hence, any changes made here will reflect during execution
#if use_blacklist is true [BLCKLISTED_MODELS] section will be used to blacklist
#else [WHITELISTED_MODELS] will be used whitelist
[MLP]
use_blacklist=False

[BLACKLISTED_MODELS]

[WHITELISTED_MODELS]
sample_model.py